@charset "UTF-8";

@media screen and (min-width: 769px) {
    main {
        flex-flow: row nowrap;
    }

    section#detalhes {
        align-items: center;
        align-content: center;
        width: 42%;
        height: 100%;
    }
    
    h1 {
        font-size: 2rem;
        padding-bottom: 15px;
    }

    p {
        font-size: 1.1rem;
        line-height: 1.7rem;
        padding-bottom: 130px;
    }
    
    div#cartaz {
        flex-flow: row nowrap;
    }

    div#gradiente {
        width: 75%;
        height: 100%;
        background-image: linear-gradient(to right, #141414, transparent);
    }
}