@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    font-family: "Inter", sans-serif;
    color: white;
    margin: 0;
    padding: 0;
}

h1 {
    padding-bottom: 15px;
}

p {
    text-align: justify;
    line-height: 1.7rem;
}

body {
    height: 100vh;
    width: 100vw;
}

main {
    display: flex;
    flex-flow: row nowrap;
    width: 100vw;
    height: 100vh;
}

#detalhes {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    align-content: center;
    height: 80%;
    width: 42%;
    background-color: #141414;
}

#cartaz {
    background-image: url("../imagens/nemo3.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    flex: auto;
}

#gradiente {
    width: 75%;
    height: 100%;
    background-image: linear-gradient(to right, #141414, transparent);
}