@charset "UTF-8";

@media screen and (max-width: 768px) {
    main {
        width: 100%;
        height: 100%;
    }
    
    nav {
        display: none;
    }

    nav img {
        width: 60px;
        height: 60px;
        padding-top: 15px;
        cursor: pointer;
    }

    nav img#logo {
        width: 80px;
        height: 80px;
    }

    menu {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        position: absolute;
        right: 0;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 3px;
        background-color: transparent;
    }

    iframe {
        width: 100%;
        height: 100%;
    }

    #lista {
        display: flex;
        flex-flow: row nowrap;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        position: absolute;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 145px;
        background-color: transparent;
    }

    #lista::-webkit-scrollbar {
        display: none;
    }

    #lista img {
        width: 255px;
        height: 130px;
        border-radius: 10px;
        margin-right: 30px;
        transition: 0.2s;
    }
}