@charset "UTF-8";

@media screen and (max-width: 768px) {
    nav {
        display: none;
    }

    nav img {
        width: 60px;
        height: 60px;
        padding-top: 15px;
        cursor: pointer;
    }

    nav img#logo {
        width: 80px;
        height: 80px;
    }

    menu {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        right: 0;
        left: 0;
        width: auto;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 3px;
        padding-right: 10px;
        background-color: transparent;
    }

    menu img {
        width: 40px;
        height: 40px;
        margin-right: 10px;
        cursor: pointer;
    }

    menu > a {
        color: white;
        text-decoration: none;
        border-radius: 8px;
        margin-right: 5px;
        padding: 8px 5px 8px 5px;
    }
    
    #pesquisa {
        flex-shrink: 1;
        min-width: 0;
    }

    iframe {
        width: 100%;
        height: 100%;
    }

    #lista {
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-end;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 145px;
        padding-bottom: 5px;
        padding-left: 10px;
        background-color: transparent;
    }

    #lista::-webkit-scrollbar {
        display: none;
    }

    #lista img {
        width: 200px;
        height: 100px;
        border-radius: 10px;
        margin-right: 30px;
        transition: 0.2s;
    }
}