@charset "UTF-8";

@media screen and (max-width: 768px) {
    nav img {
        width: 60px;
        height: 60px;
        padding-top: 15px;
        cursor: pointer;
    }

    nav img#logo {
        width: 80px;
        height: 80px;
    }
}