@charset "UTF-8";

@media screen and (min-width: 769px) {
    main {
        display: grid;
        grid-template: 1fr / 1fr 92%;
    }

    nav {
        grid-area: 1 / 1 / 3 / 2;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        background-color: #141414;
    }

    nav img {
        width: 60px;
        height: 60px;
        padding-top: 15px;
        cursor: pointer;
    }

    nav img:hover {
        scale: 1.22;
    }

    nav img#logo {
        width: 80px;
        height: 80px;
    }

    button {
        border: none;
        background-color: transparent;
        cursor: pointer;
    }

    span.material-icons#sino{
        color: white;
        font-size: 40px;
        margin-top: 10px;
        padding: 5px;
        border-radius: 50%;
        transition: 0.2s;
    }

    span.material-icons#sino:hover {
        background-color: white;
        color: black;
    }

    span.material-icons#card{
        color: white;
        font-size: 40px;
        margin-top: 10px;
        transition: 0.2s;
        padding: 5px;
        border-radius: 50%;
    }

    span.material-icons#card:hover {
        background-color: white;
        color: black;
    }

    span.material-icons#settings{
        color: white;
        font-size: 40px;
        transition: 0.2s;
        padding: 5px;
        border-radius: 50%;
    }

    span.material-icons#settings:hover {
        background-color: white;
        color: black;
    }

    div#user {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        margin-top: auto;
        padding: 20px;
    }

    menu {
        left: auto;
        width: 91vw;
        padding-right: 15px;
    }
    
    menu img {
        display: none;
    }

     menu > a {
        padding: 8px 15px 8px 15px;
        margin-right: 10px;
        transition: 0.2s;
    }

    menu > a:hover {
        background-color: white;
        color: black;
    }

    iframe {
        grid-area: 1 / 2 / 3 / 3;
    }

    section#lista {
        align-items: center;
        overflow: visible;
        right: 0;
        width: 90vw;
        height: 145px;
    }

    section#lista img {
        width: 255px;
        height: 130px;
        transition: 0.2s;
    }

    section#lista img:hover {
        scale: 1.22;
    }
}