@charset "UTF-8";

nav {
    display: none;
}

form#pesquisa {
    display: flex;
    align-items: center;
    margin-left: auto;
    border-radius: 15px;
    padding: 5px;
    flex-shrink: 1;
    min-width: 0;
    background-color: white;
    color: black;
}

input#search {
    flex-shrink: 1;
    min-width: 0;
    border: none;
    color: black;
    padding-left: 5px;
    outline: 0;
}

button#botao_pesquisa {
    background-color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

span#lupa {
    color: #141414;
}

menu {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    right: 0;
    left: 0;
    width: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 3px;
    padding-right: 10px;
    background-color: transparent;
}

menu img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    cursor: pointer;
}

menu > a {
    color: white;
    text-decoration: none;
    border-radius: 8px;
    margin-right: 5px;
    padding: 8px 5px 8px 5px;
}

iframe {
    width: 100%;
    height: 100%;
}

section#lista {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 145px;
    padding-bottom: 5px;
    padding-left: 10px;
    background-color: transparent;
}

section#lista::-webkit-scrollbar {
    display: none;
}

section#lista img {
    width: 200px;
    height: 100px;
    border-radius: 10px;
    margin-right: 30px;
}