@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    font-family: "Inter", sans-serif;
    color: white;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #141414;
    overflow: hidden;
}

#pesquisa {
    display: flex;
    align-items: center;
    margin-left: auto;
    border-radius: 15px;
    padding: 5px;
    background-color: white;
    color: black;
}

#search {
    border: none;
    color: black;
    padding-left: 5px;
    outline: 0;
}

#botao_pesquisa {
    background-color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#lupa {
    color: black;
}

@media screen and (min-width: 769px) {
    main {
        display: grid;
        grid-template: 1fr / 1fr 92%;
        width: 100vw;
        height: 100vh;
    }

    nav {
        grid-area: 1 / 1 / 3 / 2;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        background-color: #141414;
    }

    nav img {
        width: 60px;
        height: 60px;
        padding-top: 15px;
        cursor: pointer;
    }

    nav img:hover {
        scale: 1.22;
    }

    nav img#logo {
        width: 80px;
        height: 80px;
    }

    button {
        border: none;
        background-color: transparent;
        cursor: pointer;
    }

    span.material-icons#sino{
        color: white;
        font-size: 40px;
        margin-top: 10px;
        padding: 5px;
        border-radius: 50%;
        transition: 0.2s;
    }

    span.material-icons#sino:hover {
        background-color: white;
        color: black;
    }

    span.material-icons#card{
        color: white;
        font-size: 40px;
        margin-top: 10px;
        transition: 0.2s;
        padding: 5px;
        border-radius: 50%;
    }

    span.material-icons#card:hover {
        background-color: white;
        color: black;
    }

    span.material-icons#settings{
        color: white;
        font-size: 40px;
        transition: 0.2s;
        padding: 5px;
        border-radius: 50%;
    }

    span.material-icons#settings:hover {
        background-color: white;
        color: black;
    }


    #user {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        margin-top: auto;
        padding: 20px;
    }

    menu {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        position: absolute;
        right: 0;
        width: 91vw;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 3px;
        padding-right: 15px;
        background-color: transparent;
    }

    menu > a {
        color: white;
        text-decoration: none;
        border-radius: 8px;
        padding: 8px 15px 8px 15px;
        margin-right: 10px;
        transition: 0.2s;
    }

    menu > a:hover {
        background-color: white;
        color: black;
    }

    iframe {
        width: 100%;
        height: 100%;
        grid-area: 1 / 2 / 3 / 3;
    }

    #lista {
        display: flex;
        position: absolute;
        right: 0;
        bottom: 0;
        width: 90vw;
        height: 145px;
        background-color: transparent;
    }

    #lista img {
        width: 255px;
        height: 130px;
        border-radius: 10px;
        margin-right: 30px;
        transition: 0.2s;
    }

    #lista img:hover {
        scale: 1.22;
    }
}