@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    font-family: "Inter", sans-serif;
    color: white;
    padding: 0;
    margin: 0;
}

body {
    background-color: #141414;
    background-attachment: fixed;
}

main {
    display: grid;
    grid-template: 1fr 90% / 1fr 92%;
    width: 100vw;
    height: 100vh;
}

nav {
    grid-area: 1 / 1 / 3 / 1;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-color: #141414;
}

nav img {
    width: 60px;
    height: 60px;
}

span.material-icons#sino{
    color: white;
    font-size: 40px;
}

span.material-icons#settings{
    color: white;
    font-size: 40px;
}

span.material-icons#card{
    color: white;
    font-size: 40px;
}

menu {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    position: absolute;
    right: 0;
    width: 91vw;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 3px;
    padding-right: 15px;
    background-color: transparent;
}

a {
    color: white;
    text-decoration: none;
    border-radius: 8px;
    padding: 8px 15px 8px 15px;
    margin-right: 10px;
    transition: 0.2s;
}

a:hover {
    background-color: white;
    color: black;
}

#pesquisa {
    display: flex;
    align-items: center;
    margin-left: auto;
    border-radius: 15px;
    padding: 5px;
    background-color: white;
    color: black;
}

#search {
    border: none;
    color: black;
    padding-left: 5px;
    outline: 0;
}

#botao_pesquisa {
    background-color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#lupa {
    color: black;
}

iframe {
    width: 100%;
    height: 100%;
    grid-area: 1 / 2 / 3 / 3;
}

#lista {
    display: flex;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 92vw;
    height: 145px;
    background-color: transparent;
}

img {
    width: 255px;
    height: 130px;
    border-radius: 10px;
    margin-right: 30px;
}