@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
}

main {
    display: flex;
    flex-flow: row nowrap;
    width: 100vw;
    height: 100vh;
}

#detalhes {
    width: 42%;
    background-color: #141414;
}

#cartaz {
    background-image: url("../imagens/coraline2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;
    flex: auto;
}

#gradiente {
    width: 75%;
    height: 100%;
    background-image: linear-gradient(to right, #141414, transparent);
}