@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    font-family: "Inter", sans-serif;
    color: white;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 4rem;
}

p {
    font-size: 2rem;
}

span {
    color: #A81832;
}

main {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 85vw;
    height: 85vh;
}